.job-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 70vw;
    margin-top: 1%;
    padding: 2%;
}
.right-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 40vw;
    gap: 5px;
}

.left-content {
    display: flex;
    align-items: center;
    width: 30vw;
}

.left-content img {
    width: 50px;
    margin-right: 20px;
}

.company-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.company-name {
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-desaturated-dark-cyan);
}
.position:hover {
    color: var(--primary-desaturated-dark-cyan);
    cursor: pointer;
}

.etiquette {
    margin-left: 10px;
    padding: 6px;
    border-radius: 15px;
    color: white;
    background-color: var(--primary-desaturated-dark-cyan);
    font-weight: bold;
    font-size: 10px;
}
.etiquette-featured{
    background-color: black;
}

.job-info {
    margin-right: 5px;
    color: var(--neutral-very-dark-grayish-cyan);

}
.job-tag{
    background-color: var(--neutral-light-grayish-cyan-bg);
    color: var(--primary-desaturated-dark-cyan);
    padding: 10px ;
    cursor: pointer;
}

.right-content .job-tag:hover{
    background-color: var(--primary-desaturated-dark-cyan);
    color: white;

}

.job-card:hover {
    border-left: 5px solid var(--primary-desaturated-dark-cyan);
}